
@{
    ViewData["Title"] = "Index";
}

<!-- MAIN CONTENT-->
<div class="page-container">
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center"> 
                        <h3>Menu</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="menu-icon-admin text-center">
                            <a asp-controller="Shop" asp-action="Index">
                                <i class="fal fa-shopping-cart"></i>
                                <p>Mağazalar</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">

                        <div class="menu-icon-admin text-center">
                            <a asp-controller="Restaurant" asp-action="Index">
                                <i class="fas fa-burger-soda"></i>
                                <p>Restoranlar</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 col-lg-4">

                        <div class="menu-icon-admin text-center">
                            <a asp-controller="Entertainment" asp-action="Index">
                                <i class="fal fa-camera-movie"></i>
                                <p>Əyləncə Mərkəzləri</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="menu-icon-admin text-center">
                            <a asp-controller="News" asp-action="Index">
                                <i class="fal fa-newspaper"></i>
                                <p>Xəbərlər</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="menu-icon-admin text-center">
                            <a asp-controller="Employee" asp-action="Index">
                                <i class="fal fa-user-friends"></i>
                                <p>İstifadəçilər</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="menu-icon-admin text-center">
                            <a asp-controller="Tags" asp-action="Index">
                                <i class="fal fa-tags"></i>
                                <p>Tağlar</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
