
@{
    @model Products
    ViewData["Title"] = "Delete";
}

<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-12  col-md-6">
            <img style="height: 400px" class="img-thumbnail" src="~/img/@Model.Photos.FirstOrDefault(p => p.IsMain == true).PhotoURL" />
            <h4 class="mt-3">@Model.Name </h4>
        </div>
        <form method="post" class="col-12 col-md-6">
            <div class="alert alert-danger mt-4">
                <p style="padding-top: 0;"><b>Bu məhsulu silmək istədiyinizə əminsiniz ?</b></p>
            </div>
            <input type="submit" class="btn btn-danger btn-block btn-lg" value="Delete" />

        </form>

    </div>

    <div class="row">
        <div class="col-12 text-center">
            <a class="btn btn-primary mt-5 " asp-action="Details" asp-route-id="@Model.BrandsId">Geri Qayıt</a>
        </div>
    </div>
</div>
