
@{
    @model StaticData
    Layout = null;
}

<div class="row mt-5">
    <div class="col-12">
        <div class="social-icons">
            <ul class="d-flex justify-content-center">
                <li>
                    <a href="@Model.FacebookLink">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="fab fa-facebook-f"></span>
                    </a>
                </li>
                <li>
                    <a href="@Model.TwitterLink">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="fab fa-twitter"></span>
                    </a>
                </li>
                <li>
                    <a href="@Model.InstagramLink">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="fab fa-instagram"></span>
                    </a>
                </li>
                <li>
                    <a href="@Model.YoutubeLink">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="fab fa-youtube"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>